body {
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Modal Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-animate {
    animation: fadeIn 0.3s ease-out forwards;
}

/* Loader Animation */
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #4F46E5;
    /* Indigo 600 */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Hide scrollbar for category container but allow scroll */
#category-container::-webkit-scrollbar {
    height: 4px;
}

#category-container::-webkit-scrollbar-thumb {
    background-color: #e5e7eb;
    border-radius: 4px;
}